h1 {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 140px;
	color: rgb(0,0,88);
	margin: 0;
}

.main {
	height: 200px;
	background-color: #f4f4f4;
	text-align: center;
	margin: 200px 40px 0;
	border-radius: 50px;
}

#btn {
	text-align: center;
}

#btn img {
	height: 200px;
	width: 200px;
	margin-top: -50px;
}